.popup {
    padding: 155px 0;
    margin-bottom: 8px;
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgb(0, 0, 0, .50);
    overflow-y: auto;
    visibility: hidden;
}

@media screen and (max-width: 767px) {
    .popup {
        padding: 87px 0;
    }
}