.element__like-disabled {
    margin-right: 20px;
    min-width: 22px;
    height: 19px;
    background-image: url(../../../images/like-disabled.svg);
    background-size: cover;
    background-color: transparent;
    border: none;
    padding-top: 5px;
    align-self: center;
    padding: 0;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.element__like-disabled:hover {
    opacity: 0.5;
}