.profile__name {
    margin: 0;
    display: flex;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
}

@media screen and (max-width: 1024px) {
    .profile__name {
        padding-left: 27px;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        max-width: 189px;
    }
}